**/db/
**/incremental_db/
**/simulation/
**/.qsys_edit/
**/*.qws
**/*.done
**/*.rpt
**/*.smsg
**/*.summary
**/.vscode/
**/*.bak
**/*.log
**/*.htm
**/*.cdf
**/*.pin
**/*.jdi
**/*.sld
**/*.cdb
**/*.hdb
**/*.cmp
**/*.xml

./hardware/led_sandbox_sopc/
./hardware/pin_assignment/CodeGenerated
./hardware/pin_assignment/DE10_Lite_SystemBuilder.INI
./hardware/pin_assignment/led_sandbox.qpf
./hardware/pin_assignment/led_sandbox.sdc
./hardware/pin_assignment/led_sandbox.v

./software/RemoteSystemsTempFiles/
./software/.metadata/

python/bin/
python/include/
python/lib/
python/pyvenv.cfg
python/etc/
python/share/
python/lib64
python/.ipynb_checkpoints/
python/Scripts/
python/results/.ipynb_checkpoints/