# Quartus project files
**/db/
**/incremental_db/
**/simulation/
**/.qsys_edit/
**/*.qws
**/*.done
**/*.rpt
**/*.smsg
**/*.summary
**/.vscode/
**/*.bak
**/*.log
**/*.htm
**/*.cdf
**/*.pin
**/*.jdi
**/*.sld
**/*.cdb
**/*.hdb
**/*.cmp
**/*.xml
**/*.regmap
**/*.debuginfo

# Pin assignment tool files
/hardware/led_sandbox_sopc/synthesis/submodules/*
/hardware/pin_assignment/CodeGenerated
/hardware/pin_assignment/DE10_Lite_SystemBuilder.INI
/hardware/pin_assignment/*.qpf
/hardware/pin_assignment/*.sdc
/hardware/pin_assignment/*.v

# Eclipse files
RemoteSystemsTempFiles
.metadata
readme.txt
obj
.settings
.cproject
.force_relink
.project
create-this-app
*.map
*.objdump
*.html
*_bsp

# Python environment
bin/
include/
lib/
pyvenv.cfg
etc/
share/
lib64
.ipynb_checkpoints/
Scripts/
docs/
