**/db/
**/incremental_db/
**/simulation/
**/.qsys_edit/
**/*.qws
**/*.done
**/*.rpt
**/*.smsg
**/*.summary
**/.vscode/
**/*.bak
**/*.log
**/*.htm
**/*.html
**/*.cdf
**/*.pin
**/*.jdi
**/*.sld
**/*.cdb
**/*.hdb
**/*.cmp
**/*.xml
**/*.regmap
**/*.debuginfo


**/synthesis/submodules/
CodeGenerated
DE10_Lite_SystemBuilder.INI
**/pin_assignment/led_sandbox.qpf
**/pin_assignment/led_sandbox.sdc
**/pin_assignment/led_sandbox.v

# Eclipse files
RemoteSystemsTempFiles
.metadata
readme.txt
obj
.settings
.cproject
.force_relink
.project
create-this-app
*.map
*.objdump
*.html
*_bsp

# Python environment
bin/
include/
lib/
pyvenv.cfg
etc/
share/
lib64
.ipynb_checkpoints/
Scripts/
docs/